.wrongCredentials {
    font-size: 12px;
    font-weight: 700;
    color: #ff0000;
    font-style: italic; 
    position: relative;
    top: -70px;
}

.mainBlock {
    height: 250px;
    width: 500px;
    margin-right: 25%;
    border: 1px #d3d3d352 solid;
    border-radius: 20px;
    background-color: #d3d3d352;
}

.passwordBtnConfig {
        float: right;
        position: relative;
        top: 10px;
        right: -5%;
}

h1 {
    font-size: 24px;
    text-align: center;
    color: #79589F;
    font-family: sans-serif;
    padding-bottom: 20px;
}

.phoneInput {
    padding-left:50px;
}

.prefix {
    display: inline;
    position: relative;
    top: -29px;
    padding: 5px;
    font-size: large;
    background-color: lightgray;
    border: 1px lightgray solid;
    z-index: 999;
}

.paddingFor {
    margin: 20px 0 20px 0
}

.loginBtnConfig {
    position: relative;
    top: -20px;
    width: 100%;
    font-weight: 700;
    font-size: large;
    font-family: sans-serif;
}

.outsideBtnConfig {
    position: relative;
    top: 70px;
    left: 35%;
}

.registerBtnConfig {
    position: relative;
    top: 45px;
    width: 100%;
    font-weight: 700;
    font-size: large;
    font-family: sans-serif;
}